<h1>Mis productos</h1>
<div>
  <app-product [product]="product1"></app-product>
  <app-product [product]="product2"></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
</div>
