<h1>Mis productos</h1>
<div>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
</div>
